@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
body {
font-family: Roboto Condensed, Arial, sans-serif !important;
font-size: 16px !important;
}
.wiki-content,
.wiki-content p,
.wiki-content table,
.wiki-content tr,
.wiki-content td,
.wiki-content th,
.wiki-content ol,
.wiki-content ul,
.wiki-content li {
font-family: Roboto Condensed, Arial, sans-serif !important;
font-size: 16px !important;
}
